body{
    color: green;
    align-items: center;
}

#buttons{
    display: flex;
}

#incomplete-tasks{
    list-style-type: none;
}

#body-header{
    color: black;
    
    /*background-image: url(../images/header-image.jpeg);*/
    
    background-repeat: no-repeat;
    background-position: center;
    
}

.button:hover{
    color:lightgray;
    border-bottom: 1px solid white;
    transition: color 0.5s border-bottom 4s;
}

.btn-space {
    margin-right: 5px;
    align-items: center;
}

#container-specs{
    display: flex;
    justify-content: space-around;
}


#incomplete-tasks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}